If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 2340.

In [8]:
test = []
for i in range(1,2682):
    if (i % 3 == 0) or (i % 5 == 0):
        test.append(i)
print (sum(test))

1678128

In [5]:
import math
print(math.factorial(52)/math.factorial(42))

5.7407703889536e+16

In [25]:
import math
math.factorial(52) - math.factorial(52-34)

80658175170943878571660636856403766975289505440883271421626294272000

In [1]:
import pandas as pd
beer = pd.read_csv('beers.csv')

In [2]:
beer.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,descript,add_user,last_mod
0,1,812,Hocus Pocus,11,116,4.5,0.0,0.0,0,NaN,Our take on a classic summer ale. A toast to ...,0,2010-07-22 20:00:20 UTC
1,2,264,Grimbergen Blonde,-1,-1,6.7,0.0,0.0,0,NaN,NaN,0,2010-07-22 20:00:20 UTC
2,3,779,Widdershins Barleywine,-1,-1,9.1,0.0,0.0,0,NaN,NaN,0,2010-07-22 20:00:20 UTC
3,4,287,Lucifer,-1,-1,8.5,0.0,0.0,0,NaN,NaN,0,2010-07-22 20:00:20 UTC
4,5,1056,Bitter,-1,-1,4.0,0.0,0.0,0,NaN,NaN,0,2010-07-22 20:00:20 UTC

In [15]:
breweries = pd.read_csv('breweries.csv')

In [17]:
breweries.loc[breweries['name']=='Magic Hat']

,id,name,address1,address2,city,state,code,country,phone,website,filepath,descript,add_user,last_mod
803,812,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC

In [12]:
beer.merge(breweries,left_on='brewery_id',right_on='id')

,id_x,brewery_id,name_x,cat_id,style_id,abv,ibu,srm,upc,filepath_x,...,city,state,code,country,phone,website,filepath_y,descript_y,add_user_y,last_mod_y
0,1,812,Hocus Pocus,11,116,4.5,0.0,0.0,0,NaN,...,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC
1,3776,812,#9,3,26,4.6,0.0,0.0,0,NaN,...,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC
2,3810,812,Lucky Kat,3,31,5.8,0.0,0.0,0,NaN,...,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC
3,3949,812,HIPA,3,31,6.8,0.0,0.0,0,NaN,...,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC
4,4154,812,Circus Boy,4,50,5.2,0.0,0.0,0,NaN,...,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",0,2010-07-22 20:00:20 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,5900,1419,Koshihikari Echigo Beer,11,132,5.0,0.0,0.0,0,echigo_bottle.jpg,...,NaN,NaN,953-0076,Japan,+81 0256-72-0640,http://www.echigo-beer.jp/,echigo.png,NaN,535,2011-07-23 20:36:03 UTC
5897,5901,1420,Full Boar,11,132,0.0,0.0,0.0,0,NaN,...,Belmont,CA,NaN,United States,NaN,NaN,NaN,NaN,539,2011-07-28 19:03:35 UTC
5898,5902,1421,The Public,3,26,6.0,0.0,0.0,0,IMG_20110808_205330.jpg,...,Washington,DC,20018,United States,NaN,http://www.dcbrau.com/,logo.png,The first brewery to open in the nation's capi...,553,2011-08-08 19:02:40 UTC
5899,5913,1422,Abhi beer,7,89,0.0,0.0,0.0,0,NaN,...,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,590,2011-09-27 00:35:48 UTC
5900,5914,1423,Ambr,11,132,0.0,0.0,0.0,0,NaN,...,Carquefou,NaN,44470,France,NaN,NaN,NaN,La Brasserie du Bouffay est situ,602,2011-10-04 00:24:33 UTC